<section class="typing-master">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="box">
                    <h1>Typing Master</h1>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, qui. Aspernatur architecto
                            at,
                            cumque blanditiis in excepturi quos inventore quisquam!</p>
                    </div>
                    <div class="type-area">
                        <input type="text" class="form-control" placeholder="type here...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>