.typing-master {
    .box {
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 30px 40px;
        border-radius: 10px;
        margin-top: 30px;

        h1 {
            text-align: center;
            font-size: 26px;
            margin-bottom: 30px;
            text-transform: uppercase;
            font-weight: 700;
        }

        .text {
            background-color: #eee;
            padding: 30px;
            margin-bottom: 30px;

            p {
                font-size: 20px;
            }
        }

        .type-area {
            input {
                padding: 10px;
            }
        }
    }
}

.pending {
    color: #272727;
}

.success {
    color: green;
}

.error {
    background-color: red;
    color: #fff;
}


.success-box {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px 40px;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
    padding: 100px;

    h1 {
        text-transform: uppercase;
        font-size: 42px;
        font-weight: 700;
    }
}