.password-generator {
    &_box {
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 30px 40px;
        border-radius: 10px;

        h1 {
            font-size: 18px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        &-body {
            .checkbox-area {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }

        .generated-password {
            &_box {
                position: relative;

                .copy-icon {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 10px;
                    cursor: pointer;
                    background: none;
                    border: none;
                }
            }

        }
    }
}

.toast-notification {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: #B4FF9F;
    color: #333333;
    padding: 10px 40px;
    border-radius: 5px;
    z-index: 99;
    text-align: center;
    -webkit-animation: fadeInOut .5s ease-in-out forwards;
    animation: fadeInOut .5s ease-in-out forwards;
}

@-webkit-keyframes fadeInOut {

    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInOut {

    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}