<section class="password-generator">
    <div class="container">
        <div class="center-box password-generator_box">
            <h1>Password Generator</h1>
            <div class="password-generator_box-body">
                <div class="mb-3">
                    <input [(ngModel)]="length" #event (input)="onChangeLength(event.value)" type="text"
                        class="form-control" placeholder="Enter Length">
                </div>
                <div class="checkbox-area">
                    <div>
                        <input type="checkbox" (change)="onChangeLetter()">
                        <label class="form-label mx-2"> Use Letters</label>
                    </div>
                    <div>
                        <input type="checkbox" (change)="onChangeNumber()">
                        <label class="form-label mx-2"> Use Numbers</label>
                    </div>
                    <div>
                        <input type="checkbox" (change)="onChangeSymbol()">
                        <label class="form-label mx-2"> Use Symbols</label>
                    </div>
                </div>
                <div class="mb-3">
                    <button [disabled]="!(length > 5 && (addLetters || addNumbers || addSymbols))" class="main-btn"
                        (click)="handleGenerate()">Generate</button>
                </div>
                <div class="generated-password mb-3" *ngIf="result">
                    <label class="form-label">Your Password</label>
                    <div class="generated-password_box">
                        <input type="text" class="form-control" [value]="password">
                        <button class="copy-icon" (click)="copyMessage(password)"><i
                                class="fa-regular fa-copy"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="toast-notification" *ngIf="toast">
    <p>Password Copied</p>
</div>